body {
   --accent-color: rgb(21, 84, 151); /* The dark blue of our blog */
}

.profile-img {
   float:right;
}

.post-footer {
   font-size: 16px;
}

.post-footer-line {
   line-height: 12px;
}

.post-body a {
   text-shadow: 1px 1px 2px silver;
}

h3:not(.post-title) {
   font-family: "Yanone Kaffeesatz";
   font-size: 30px;
   font-weight: 300;
   font-style: normal;
   color: white;
   padding: 20px 10px 20px 50px;
   background-color: rgb(21, 84, 151);
   text-rendering: optimizeLegibility;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   border-left: 4px solid navy;
   margin-left: -30px;
   margin-right: -30px;
}

.post-body {
   text-rendering: optimizeLegibility;
}

/* The first letter of the first paragraph in the post body should be styled specially */
.post-body > p:first-of-type::first-letter {
   /* initial-letter: 2; /* /* takes up 2 lines. Not yet widely supported as of late 2024, so we're going with older CSS solution https://css-tricks.com/snippets/css/drop-caps */
   color: var(--accent-color);
   float: left;
   font-size: 75px;
   line-height: 60px;
   padding-top: 4px;
   padding-right: 8px;
   padding-left: 3px;
}

/* Recommended reading section */
#recommendedReadingContent ul {
   list-style: none;
}

#recommendedReadingContent h1 {
   padding: 10px;
}

#recommendedReadingContent li > :first-child {
   font-size: 1.3em;
   text-shadow: 1px 1px 2px silver;
}

/* Mobile styles */
@media (max-width: 768px) {
    /* hide the sidebar */
    .column-left-outer {
        display: none;
    }

   /* Remove all padding from the posts column */
    .columns.fauxcolumns {
        padding-left: 0;
    }

   /* Make the header, posts, and comments take up full viewport width (minus some for padding) */
   header, .main-outer, .comments {
      width: 82vw;
   }

   /* images should be maxed at 100% width */
   .post-body img {
      max-width: 100%;
      height: auto;
   }

   /* Post titles should be justified and a bit smaller with less top margin */
   h3.post-title {
      text-align: justify;
      font-size: 4em;
      margin-top: 10px;
   }

   /* the posts section doesn't need to have the top padding */
   .main-inner {
      padding-top: 0;
   }

   /* The header logo should be smaller */
   header img {
      max-width: 10em;
   }

   /* The header text should be smaller too */
   header h1 {
      font-size: 3em;
   }

   iframe, video {
      max-width: 100%;
   }
}
